
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> semiprime</title>
    {% load static %}
    <link rel="stylesheet" href="../static/css/static.css">
</head>
<body>
    <div class="main">
        <div class="calcul">
             <h1>welcome</h1>
        <p>ecrire un nombre semi premier</p>

        <form  method="POST">
            {% csrf_token %}
                <h5 class="result">{% if  weight == 2 %} couple:{{ result1 }} time:{{ result2 }} {% else %} {{ result1 }} {% endif %}</h5>
                {{ form}}
            <p>{{ valid }}</p>
            <button class="button is-success is-fullwidth is-medium mt-5"
                    type="submit">Dweet
            </button>
        </form>
        </div>
    </div>


</body>
</html>